.advantages__title {
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  font-weight: 400;
}

.advantages__list {
  .dropping-list();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  font-family: "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    width: 245px;
    margin-bottom: 37px;
  }
}
