.advantages__title {
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  font-weight: 400;
}

.advantages__list {
  .dropping-list();
}

.advantages__item {
  font-family: "Arial", sans-serif;
}
