.catalog-item {
  background-color: @basic-extra-light;
}

.catalog-item__title {
  .catalog-items-title();
  color: @basic-black;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-item__text {
  font-family: "Arial", sans-serif;
}

.catalog-item__link {
  color: @basic-black;
  text-transform: uppercase;
  .catalog-items-links-text();
}

.catalog-item__link:active {
  color: @basic-black-extra-opacity;
}
