.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: @special-extra-dark;

  @media (min-width: @tablet-width) {
    padding-right: 24px;
    padding-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 24px;
    padding-bottom: 2px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @basic-black;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__icon {
    fill: @basic-green;
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    margin-top: 2px;
  }
}
