.main-catalog-more__title {
  color: @special-super-dark;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-catalog-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.main-catalog-more__link {
  font-size: 16px;
  line-height: 20px;
  background-color: @basic-extra-light;
  color: @special-extra-dark;
  text-transform: uppercase;
}

.main-catalog-more__link:active {
  background-color: @basic-super-light;
  color: @special-extra-dark-opacity;
}

.main-catalog-more__link:hover {
  background-color: @basic-super-light;
}
