// Catalog

.main-catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  color: @special-dark-color;
  text-transform: uppercase;
}

.main-catalog-item__parameter,
.main-catalog-item__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.link-order {
  .button-color();
}

.link-order:hover {
  .button-hover();
}

.link-order:active {
  .button-active();
}

.main-catalog-more__title {
  color: @special-super-dark;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-catalog-more__link {
  font-size: 16px;
  line-height: 20px;
  background-color: @basic-extra-light;
  color: @special-extra-dark;
  text-transform: uppercase;
}

.main-catalog-more__link:active {
  background-color: @basic-super-light;
  color: @special-extra-dark-opacity;
}

.main-catalog-more__link:hover {
  background-color: @basic-super-light;
}

.additional-catalog__title {
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.additional-catalog-item__title {
  color: @special-dark-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-catalog-item__amount,
.additional-catalog-item__price {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  margin: 0;
}

.offers__text {
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  font-family: "Arial", sans-serif;
}
