.main-catalog__list {
  .dropping-list();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-catalog__item {
  @media (min-width: @tablet-width) {
    width: 324px;
    margin-right: 80px;
  }

  @media (min-width: @desctop-width) {
    width: 245px;
  }
}

.main-catalog__item:nth-of-type(even) {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-catalog__item:nth-of-type(4n) {
  @media (min-width: @desctop-width) {
    margin: 0;
  }
}
