.main-catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  color: @special-dark-color;
  text-transform: uppercase;
  font-weight: 400;
}

.main-catalog-item__parameter,
.main-catalog-item__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
