// Map

.map--background {
  background-color: @basic-extra-light;
}

// Contacts

.contacts__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-super-dark;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  font-style: normal;
}
