.nutrition-programs {
  background:
    url("../img/bank-cat-energy/bank-cat-energy-mobile.png") ~ "50% 167px",
    url("../img/green-cat-main/green-cat-main-mobile.png") top center,
    linear-gradient(to bottom, @basic-green-dark 302px, @basic-white 302px);
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 23px;

  @media (min-resolution: 2dppx) {
    background:
      url("../img/bank-cat-energy/bank-cat-energy-mobile@2x.png") ~ "50% 167px / 280px auto",
      url("../img/green-cat-main/green-cat-main-mobile2x.png") ~ "50% 0 / 320px auto",
      linear-gradient(to bottom, @basic-green-dark 302px, @basic-white 302px);
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 525px;
    background: url("../img/bank-cat-energy/bank-cat-energy-tablet.png") ~ "50% 200px";
    text-align: left;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/bank-cat-energy/bank-cat-energy-tablet@2x.png") ~ "50% 200px / 709px auto";
      background-repeat: no-repeat;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 0;
      background: none;
    }
  }
}

.nutrition-programs__wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 88px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin-bottom: 266px;
  }
}

.nutrition-programs__title {
  .main-title;
  color: @basic-white;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  padding-top: 27px;
  padding-right: 10px;
  padding-left: 10px;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin: 0;
    font-size: 60px;
    color: @basic-black;
    padding: 0;
    line-height: 60px;
    margin-bottom: 41px;
  }
}

.nutrition-programs__text {
  text-transform: uppercase;
  line-height: 14px;
  color: @basic-white;
  margin: 0;
  margin-bottom: 303px;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.nutrition-programs__link {
  display: inline-block;
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  padding: 10px 73px;

  &:active {
    .button-active();
  }

  &:hover {
    .button-hover();
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 27px;
  }

  @media (min-width: @desktop-width) {
    max-width: 470px;
  }
}
