.nutrition-programs {
  background-image: url("../img/green-cat-mobile.png");
  background-repeat: no-repeat;
  background-color: @button-status;
}

.nutrition-programs__title {
  .main-title;
  color: @basic-white;
  font-weight: 400;
}

.nutrition-programs__text {
  text-transform: uppercase;
  line-height: 14px;
  color: @basic-white;
}

.nutrition-programs__link {
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  font-size: 16px;
}

.nutrition-programs__link:active {
  .button-active();
}

.nutrition-programs__link:hover {
  .button-hover();
}
