.page-header {
  @media (min-width: @desctop-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      min-height: 694px;
      background-image: linear-gradient(to right, transparent 50%, @basic-green 50%);
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.page-header__box {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 54px;
  }

  @media (min-width: @desctop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 106px;
  }
}

.page-header__wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 154px;
    min-height: 36px;
    padding-left: 30px;
  }
}

.page-header__logo-icon {
  padding-top: 10px;
  margin-right: 57px;
}

.page-header__img-logo {
  width: 34px;
  height: 38px;
}

.page-header__logo-icon-text {
  padding-top: 23px;
  padding-bottom: 21px;
}

.page-header__img-text {
  width: 101px;
  height: 18px;
}

.page-footer__img-text {
  width: 128px;
  height: 24px;
}
