.page-footer {
  background-color: @basic-extra-light;
  padding-top: 38px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 52px;
    padding-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.page-footer__logo-icon-text-wrapper {
  position: relative;
  width: 128px;
  margin: 0 auto;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    align-self: start;
    margin: 0;
    margin-right: auto;
    padding-top: 8px;
  }

  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      background-color: @basic-mega-light;
      bottom: -30px;
      left: -76px;
    }
  }
}

.page-footer__logo-icon-text {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
