.result-program {
  background-color: @special-light;
}

.result-program__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desctop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
  }
}

.result-program__title {
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  font-weight: 400;
}

.result-program__subtitle {
  font-family: "Arial", sans-serif;
}

.result-program__text {
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    width: 250px;
  }
}

.result-program__images {
  grid-area: ~ "1 / 2 / -1 / -1";
}

.result-program__list {
  @media (min-width: @tablet-width) {
    width: 410px;
  }
}
