// Result

.result-program {
  background-color: @special-light;
}

.result-program__title {
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.result-program__subtitle {
  font-family: "Arial", sans-serif;
}

.result-program-list__parameter {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
}

.result-program-list__number {
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-transform: uppercase;
  margin: 0;
}

.result-program__text {
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
}

// Toggle

.changes-toggle__wrapper {
  background: @basic-white;
  border: 1px solid @special-light-neutral;
  border-radius: 6px;
}

.changes-toggle__it-was,
.changes-toggle__became {
  background: @basic-green;
  border-radius: 6px;
}

.changes-toggle__it-was-button,
.changes-toggle__became-button {
  color: @basic-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
