// Colors

@basic-white: #ffffff;
@basic-white-extra-opacity: rgba(255, 255, 255, 0.3);
@basic-black: #000000;
@basic-black-light-opacity: rgba(0, 0, 0, 0.6);
@basic-black-extra-opacity: rgba(0, 0, 0, 0.3);
@basic-green: #68b738;
@button-status: #5eaa2F;
@basic-super-light: #ebebeb;
@basic-extra-light: #f2f2f2;
@special-light: #eaeaea;
@special-light-neutral: #cdcdcd;
@special-neutral: #c4c4c4;
@special-neutral-dark: #e7e7e7;
@special-dark: #666666;
@special-extra-dark: #444444;
@special-extra-dark-opacity: rgba(68, 68, 68, 0.3);
@special-super-dark: #111111;
@special-dark-color: #222222;
@special-dark-color-opacity: rgba(34, 34, 34, 0.3);
@input-border-error: #FF8282;

// Fonts

@primary-font: "Oswald", "Arial", sans-serif;
